
box {
    transition: all .45s ease;
}
.box:hover {
    transform: translateY(-8px);

}
.box a{
    transition: all .45s ease;
}
.box a:hover {
    letter-spacing: 1px;
    background: #ffffff;
    color:var(--text-color);
}