<div style="background-color: #d8e4e7; padding: 10px;">
    <div class="container">
    <h1 class="text-center" style="color: rgb(88, 206, 59);"> Discover </h1>
    <hr>

    <div class="container pt-3">
      <div class="title">
        <h3>Unveiling the Depths: Journey into Mental Health Insights
        </h3>
      </div>
      <div class="text ">
        <p>"Welcome to our enlightening voyage into the intricate world of mental health conditions. 
          Prepare to uncover profound insights, unravel misconceptions, and gain a deeper understanding of the human mind.
          Explore our comprehensive resources, expert articles, and personal stories that shed light on various mental health conditions. 
          Whether you seek knowledge to support a loved one, deepen your self-awareness, or foster empathy, our Discover page offers a transformative experience.
           Embark on this expedition with us as we navigate the labyrinth of mental health, fostering awareness, resilience, and compassion along the way."
        </p>
      </div>
    </div>

    <div class="container py-5">
          <h2>Mental Health Conditions</h2>
          <p>Learn more about different mental health conditions</p>
    </div>

    <div class="container mb-5 pb-3">
      <div class="row">
        <div class="col">
          <img style="height: 200px;" src="/assets/conditions/ADHD.webp" alt="">
          <h3 style="text-align: center;">ADHD</h3>
        </div>

        <div class="col">
          <img style="height: 200px;" src="/assets/conditions/anxiety.webp" alt="">
          <h3 style="text-align: center;">Anxiety</h3>
        </div>

        <div class="col">
          <img style="height: 200px;" src="/assets/conditions/Bipolar.webp" alt="">
          <h3 style="text-align: center;">Bipolar</h3>
        </div>

        <div class="col">
          <img style="height: 200px;" src="/assets/conditions/Depression.webp" alt="">
          <h3 style="text-align: center;">Depression</h3>
        </div>

        <div class="col">
          <img style="height: 200px;" src="/assets/conditions/PTSD.webp" alt="">
          <h3 style="text-align: center;">PTSD</h3>
        </div>
      </div>
    </div>

    <div class="container py-5">
      <h2>Personal Stories</h2>
      <p>
        Explore firsthand accounts of individuals who have personally experienced mental health challenges.
         Gain valuable perspectives on the diverse aspects of mental health by delving into these remarkable narratives of lived experiences.</p>
</div>
    
    <div class="row">
      <div class="col-lg-6">
        <div class="card mb-4" style="width: 32rem;">
          <img src="assets/Stories/depression.jpg" class="card-img-top" alt="Article 1">
          <div class="card-body">
            <h5 class="card-title">Depression</h5>
            <p class="card-text">Wayne's Story</p>
            <a href="https://www.blackdoginstitute.org.au/resources-support/personal-stories/wayne/" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      
      <div class="col-lg-6">
        <div class="card mb-4" style="width: 34rem;">
          <img src="assets/Stories/PTSD.png" class="card-img-top" alt="Article 2">
          <div class="card-body">
            <h5 class="card-title">Post Traumatic Stress Disorder</h5>
            <p class="card-text">Tasya's Story</p>
            <a href="https://www.blackdoginstitute.org.au/resources-support/personal-stories/tasya/" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-6">
        <div class="card mb-4" style="width: 32rem;">
          <img src="assets/Stories/bipolar.jpg" class="card-img-top" alt="Article 3">
          <div class="card-body">
            <h5 class="card-title">Bipolar Disorder</h5>
            <p class="card-text">Lisa's Story</p>
            <a href="https://www.blackdoginstitute.org.au/resources-support/personal-stories/lisa/" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      
      <div class="col-lg-6">
        <div class="card mb-4" style="width: 34rem;">
          <img src="assets/Stories/Borderline.jpg" class="card-img-top" alt="Article 4">
          <div class="card-body">
            <h5 class="card-title">Borderline Personality Disorder</h5>
            <p class="card-text">Elliot's Story</p>
            <a href="https://www.blackdoginstitute.org.au/resources-support/personal-stories/elliot/" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
  
     
  </div>
  </div>
 </div> 