<div style="background-color: #d8e4e7; padding: 10px;"> 
    <div class="container" >
        <!-- about.component.html -->
        <section class="about-section" style="padding: 20px 0;">
            <div class="container">
                <div class="">
                    <div class="">
                        <img src="assets/mentall.jpeg" alt="About Us" style="max-width: 100%; height: auto;">
                    </div>
                    <div class="" style="display: flex; flex-direction: column; justify-content: center;">
                        <h2 class="section-title" style="font-size: 36px; font-weight: bold; color: rgb(88, 206, 59); text-align: center;">About Our Company</h2>
                        <p class="section-description" style="font-size: 16px; color: #666; margin-bottom: 10px;">We are a dedicated mental health company committed
                             to providing support, resources, and services to individuals struggling with their mental well-being.</p>
                        <p class="section-description" style="font-size: 16px; color: #666; margin-bottom: 10px;">Our team of experienced professionals is 
                            passionate about helping people lead happier and healthier lives.</p>
                        <p class="section-description" style="font-size: 16px; color: #666; margin-bottom: 10px;">We offer a range of therapeutic approaches,
                             including counseling, therapy sessions, and group support programs, tailored to meet the unique needs of each individual.</p>
                        <p class="section-descirption" style="font-size: 16px; color: #666; margin-bottom: 10px;">
                            By increasing access to reliable services and information,we are having a direct impact on the quality of life and wellness of 
                            the community. We are committed to excellence in pharmacy practice and standards.
                        </p>
                        <p class="section-descirption" style="font-size: 16px; color: #666; margin-bottom: 10px;">
                            We believe in fostering a safe and inclusive environment where individuals can openly discuss their concerns and work towards achieving 
                            mental wellness. We are here to support you every step of the way, providing the tools, resources, and guidance needed to navigate the 
                            complexities of mental health and lead a fulfilling life."
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="mission" style="margin-top: 40px;">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2 style="color: rgb(88, 206, 59);">Mission and Vision Statement</h2>
                        <div>
                            <h3>Our Mission</h3>
                            <p>
                                "To empower individuals with accessible and compassionate mental health services, promoting resilience and holistic healing."</p>
                        </div>
                        <div>
                            <h3>Our Vision</h3>
                            <p>"A world where mental health is prioritized, stigma-free, and everyone has access to comprehensive care for optimal well-being."</p>
                        </div>

                        <p></p>
                    </div>
                    <div class="col">
                        <img src="/assets/mentall-about.jpeg" style="object-fit: cover; width: 400px; height: 400px;">
                    </div>
                </div>
            </div>
        </section>

        <section style="margin-top: 20px; padding: 20px 0;">
            <div class="container" style="margin: 20px;">
                <div >
                    <h2 style="text-align: center; margin-top: 40px;">OUR VALUES </h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img src="/assets/High-quality.svg" alt="">
                    <p>High quality service delivery to our customers is our priority, with our well-trained personnel, upholding integrity and high ethical standards.</p>
                </div>
                <div class="col">
                    <img src="/assets/Assured-product.svg" alt="">
                    <p>Assured product quality and affordability coupled with innovative technologies to increase the wellbeing of the nation.</p>
                </div>
                <div class="col">
                    <img src="/assets/growth.svg" alt="">
                    <p>Accelerated growth within East Africa that provides both customer convenience and customer proximity.</p>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="/assets/target.svg" alt="">
                        <p>Continuously develop programmed that target communities in order to assist alleviate some of the basic medical ailments in the region and create a better,
                             healthier lifestyle for all.</p>
                    </div>
                    <div class="col">
                        <img src="/assets/partnerships.svg" style="color: rgb(88, 206, 59);">
                        <p>Strategic partnerships with other health providers to conveniently deliver all-inclusive health solutions to our customers.</p>
                    </div>
                </div>
                
            </div>
        </section>

        <section>
            <div class="container" style="padding: 20px 0;">
                <div class="row">
                    <div class="col">
                        <h4>Send Us  A Message</h4>
                    </div>
                    <div class="col">
                        <h4>Help and Advice</h4>
                    </div>
                    <div class="col">
                        <h4>Contact Us</h4>
                    </div>
                </div>          
            </div>
        </section>
  
    <div>
</div>

