<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg border-bottom border-top" style="background-color: #6f99a3">
        <div class="container">
            <a href="#" class="navbar-brand fs-2 fw-bold">
                <span class="textBlue fs-1" style="color: rgb(88, 206, 59);">MindFlow</span>
            </a>
             <!-- Toggle -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Nav Items -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item ">
                    <a href="#" class="nav-link fw-bold text-uppercase me-1 fs-5">
                     home
                    </a>
                </li>

                <li class="nav-item ">
                    <a routerLink="/well-being" class="nav-link fw-bold text-uppercase me-1 fs-5">
                     Well-Being
                    </a>
                </li>

                <li class="nav-item ">
                    <a routerLink="/discover" class="nav-link fw-bold text-uppercase me-1 fs-5">
                     Discover
                    </a>
                </li>

                <li class="nav-item ">
                    <a routerLink="/resources" class="nav-link fw-bold text-uppercase me-1 fs-5">
                     Resources
                    </a>
                </li>

                <li class="nav-item ">
                    <a routerLink="/about" class="nav-link fw-bold text-uppercase me-1 fs-5">
                     About
                    </a>
                </li>
            </ul>
          </div>

          <div class="bx bx-menu" id="menu-icon"></div>

        </div>
    </nav>
</header>

<div>
    <router-outlet></router-outlet>
</div>




