<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-white border-bottom border-top">
        <div class="container">
            <a href="#" class="navbar-brand fs-2 fw-bold">
                <span class="textBlue">MindFlow</span>
            </a>
             <!-- Toggle -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Nav Items -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item ">
                    <a href="#" class="nav-link fw-bold text-uppercase me-1">
                     home
                    </a>
                </li>

                <li class="nav-item ">
                    <a href="#" class="nav-link fw-bold text-uppercase me-1">
                     articles
                    </a>
                </li>

                <li class="nav-item ">
                    <a href="#" class="nav-link fw-bold text-uppercase me-1">
                     Mindulness
                    </a>
                </li>

                <li class="nav-item ">
                    <a href="#" class="nav-link fw-bold text-uppercase me-1">
                     Therapy
                    </a>
                </li>

                <li class="nav-item ">
                    <a href="#" class="nav-link fw-bold text-uppercase me-1">
                     Contact
                    </a>
                </li>
            </ul>
          </div>

        </div>
    </nav>
</header>



<router-outlet></router-outlet>
