<div style="background-color: #d8e4e7; padding: 20px;">
    <div style="margin: 0 auto; text-align:center ">
      <h1 style="font-size: 50px; margin: 20px; color: rgb(88, 206, 59);">Welcome to MindFlow</h1>
      <p style="font-size: 36px; color: #666; margin-bottom: 30px;">Discover a path to inner peace and well-being.</p>

      <div style="display: flex; justify-content: center;">
        <div style="flex: 0 0 200px; margin-right: 20px;">
            <img src="path-to-image" alt="Meditation" style="width: 100%; border-radius: 10px;">
            <h3 style="font-size: 24px; color: #333; margin: 10px 0;">Meditation</h3>
            <p style="font-size: 16px; color: #666;">Practice mindfulness and find calmness in daily meditation sessions.</p>
            <a routerLink="/journaling" style="display: inline-block; background-color: #007bff; color: #fff; font-size: 16px; padding: 5px 10px;
            border-radius: 5px; margin-top: 10px; text-decoration: none;">Learn More</a>
        </div>

        <div style="flex: 0 0 200px;">
          <img src="path-to-image" alt="Self-Care" style="width: 100%; border-radius: 10px;">
          <h3 style="font-size: 24px; color: #333; margin: 10px 0;">Self-Care</h3>
          <p style="font-size: 16px; color: #666;">Nurture your mind and body through self-care routines and techniques.</p>
          <a routerLink="/about" style="display: inline-block; background-color: #007bff; color: #fff; font-size: 16px; padding: 5px 10px; 
          border-radius: 5px; margin-top: 40px; text-decoration: none;">Learn More</a>
        </div>

        <div style="flex: 0 0 200px; margin: 10px;">
             <img src="path-to-image" alt="Journaling" style="width: 100%; border-radius: 10px;">
             <h3 style="font-size: 24px; color: #333; margin: 10px 0;">Journaling</h3>
             <p style="font-size: 16px; color: #666;">Express your thoughts and emotions through the therapeutic practice of journaling.</p>
             <a routerLink="/journaling" style="display: inline-block; background-color: #007bff; color: #fff; font-size: 16px; padding: 5px 10px;
             border-radius: 5px; margin-top: 10px; text-decoration: none;">Learn More</a>
        </div>
      </div>
    </div>
    
    <div class="row" style="display:flex; justify-content: center; margin: 40px;">
        <div class="col-lg-3">
            <div class="box-shadow">
                <div class="card">
                    <img class="img-fluid" src="/assets/wellbeing.avif"  class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Well-being</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="box-shadow">
                <div class="card">
                    <img class="img-fluid" src="/assets/articles.avif"  class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Discover/Learn More</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="box-shadow">
                <div class="card">
                    <img class="img-fluid" src="/product img/blueDress.webp"  class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Consultation</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="box-shadow">
                <div class="card">
                    <img class="img-fluid" src="/assets/findtherapist.avif"  class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Resources</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
