<div style="background-color: #d8e4e7; padding: 10px;">

    <div class="container">
            <img src="/assets/mindflow.jpg" style="width: 100%;">
            <div class="top-center" >
            <h1 style="font-size: 50px; color: rgb(88, 206, 59);">Welcome to MindFlow</h1>
            <p class="fw-bold" style="font-size: 25px; color: #666;">Discover a path to inner peace and well-being.</p>
            </div>
    </div>
    
    <div class="container">
        <div class="text fs-4">
            <p>We are passionate and compassionate professionals, driven by the mission of helping more people live a better and happier life every day</p>
        </div>
        <div class="row gx-5 g-2" style="display:flex; justify-content: center; margin: 20px;">
            <div class="col-lg-3">
                <div class="box-shadow">
                    <div class="card">
                        <img class="img-fluid" src="/assets/wellbeing.avif"  class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Well-being</h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-3">
                <div class="box-shadow">
                    <div class="card">
                        <img class="img-fluid" src="/assets/articles.avif"  class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Discover/Learn More</h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-3">
                <div class="box-shadow">
                    <div class="card">
                        <img class="img-fluid" src="/assets/findtherapist.avif"  class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Resources</h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-3">
                <div class="box-shadow">
                    <div class="card">
                        <img class="img-fluid" src="/assets/about-us.avif"  class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">About Us</h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
    
    
    
        </div>
    </div>

</div>
