<div style="background-color: #d8e4e7; padding: 10px;">

    <div class="mx-3 p-2 ">
           <div class="row">
            <div class="col" style="display: flex; flex-direction: column; text-align: center; justify-content: center;" >
                <h1 style="font-size: 50px; color: rgb(88, 206, 59);">Welcome to MindFlow</h1>
                <p class="fw-semibold" style="font-size: 25px;">Discover a path to inner peace and well-being.</p>
                <p class="fw-semibold lh-lg fs-6">Welcome again to our mental health website, a safe and supportive space dedicated to promoting well-being and providing resources for mental health awareness. 
                    Whether you're seeking information, guidance, or simply looking to connect with others who understand you, you've come to the right place. 
                    Our mission is to foster understanding, compassion, and empowerment, helping you navigate the complexities of mental health and find the support you
                     need on your journey towards emotional wellness. Together, we can break the stigma surrounding mental health and build a community that embraces and 
                     uplifts every individual. Take a deep breath, and know that you are not alone.</p>
            </div>
            <div class="col">
                 <img src="/assets/mindflow.jpg" style="width: 100%; height: 800px;">
            </div>
           </div>
     </div>
    
    <div class="container">
        <div class="text py-2 mt-3">
            <p class="fs-5 fw-bold" style="color: rgb(88, 206, 59);" >We are passionate and compassionate professionals, driven by the mission of helping more people live a better and happier life every day.
                Pick where you'd like to start from;
            </p>
        </div>
        <div class="row gx-5 g-2" style="display:flex; justify-content: center; margin: 10px;">
            <div class="col-lg-3">
                <div class="box-shadow">
                    <div class="card">
                        <img class="img-fluid" src="/assets/wellbeing.avif"  class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title"><a routerLink="/well-being">Well-being</a></h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-3">
                <div class="box-shadow">
                    <div class="card">
                        <img class="img-fluid" src="/assets/articles.avif"  class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title"><a routerLink="/discover">Discover/Learn More</a></h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-3">
                <div class="box-shadow">
                    <div class="card">
                        <img class="img-fluid" src="/assets/findtherapist.avif"  class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title"><a routerLink="/resources">Resources</a></h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-3">
                <div class="box-shadow">
                    <div class="card">
                        <img class="img-fluid" src="/assets/about-us.avif"  class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title"><a routerLink="/about">About</a></h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
    
    
    
        </div>
    </div>

</div>
