<div style="background-color: #d8e4e7; padding-top: 10px;">
  <div class="container">
    <h1 class="text-center" style="color: rgb(88, 206, 59);"> Resources </h1>
    <hr>
    <div class="container">
      <div class="title">
        <h3 >Support and Services</h3>
      </div>
      <div class="text ">
        <p>We are dedicated to providing comprehensive assistance and resources for mental health. 
          We understand that seeking support and guidance is a crucial step towards well-being,
           and we are here to offer a helping hand. Whether you're looking for professional counseling,
            educational materials, or a supportive community, our aim is to empower you on your journey to mental wellness. 
            Browse through our range of services and discover the tools and support you need to enhance your mental health and lead a fulfilling life.
        </p>
      </div>
    </div>
    
  
    <div class="row ">
      <div class="">
        <h3 class="mb-4">Counseling Services</h3>
        <ul class="list-group">
          <li class="list-group-item">Individual Counseling</li>
          <li class="list-group-item">Group Therapy</li>
          <li class="list-group-item">Family Counseling</li>
          <li class="list-group-item">Marriage and Couples Counseling</li>
        </ul>
      </div>
      <div class="col-lg-6">
        <h3 class="mb-4">Workshops and Programs</h3>
        <ul class="list-group">
          <li class="list-group-item">Stress Management Workshop</li>
          <li class="list-group-item">Mindfulness Meditation Program</li>
          <li class="list-group-item">Self-Care and Wellness Retreat</li>
          <li class="list-group-item">Anger Management Program</li>
        </ul>
      </div>
    </div>
  
    <div class="row mt-5 pb-5">
      <div class="col-lg-12">
        <h3 class="mb-4">Additional Support</h3>
        <p>If you need immediate assistance or have any questions, please don't hesitate to reach out to our dedicated team. We are here to help.</p>
        <ul class="list-group">
          <li class="list-group-item">24/7 Helpline: xxx-xxx-xxxx</li>
          <li class="list-group-item">Email: support@yourwebsite.com</li>
          <li class="list-group-item">In-person appointments available</li>
          <li class="list-group-item">Online consultation and therapy sessions</li>
        </ul>
      </div>
    </div>
  </div>
</div>