<div style="background-color: #d8e4e7;">
  <div class="container pt-5">
    <div class="title">
      <h3>Unveiling the Depths: Journey into Mental Health Insights
      </h3>
    </div>
    <div class="text ">
      <p>"Welcome to our enlightening voyage into the intricate world of mental health conditions. 
        Prepare to uncover profound insights, unravel misconceptions, and gain a deeper understanding of the human mind.
        Explore our comprehensive resources, expert articles, and personal stories that shed light on various mental health conditions. 
        Whether you seek knowledge to support a loved one, deepen your self-awareness, or foster empathy, our Discover page offers a transformative experience.
         Embark on this expedition with us as we navigate the labyrinth of mental health, fostering awareness, resilience, and compassion along the way."
      </p>
    </div>
  </div>


  <div class="container py-5">
    <div>
      <div class="row">
        <h2>Mental Health Conditions</h2>
        <p>Learn more about different mental health conditions</p>
      </div>
      <div class="row">
        div.
      </div>

    </div>
  </div>


  <div class="container">
    <h3 class="text-center pt-5">Support and Services</h3>
    <hr>
  
    <div class="row ">
      <div class="col-lg-6">
        <h3 class="mb-4">Counseling Services</h3>
        <ul class="list-group">
          <li class="list-group-item">Individual Counseling</li>
          <li class="list-group-item">Group Therapy</li>
          <li class="list-group-item">Family Counseling</li>
          <li class="list-group-item">Marriage and Couples Counseling</li>
        </ul>
      </div>
      <div class="col-lg-6">
        <h3 class="mb-4">Workshops and Programs</h3>
        <ul class="list-group">
          <li class="list-group-item">Stress Management Workshop</li>
          <li class="list-group-item">Mindfulness Meditation Program</li>
          <li class="list-group-item">Self-Care and Wellness Retreat</li>
          <li class="list-group-item">Anger Management Program</li>
        </ul>
      </div>
    </div>
  
    <div class="row mt-5 pb-5">
      <div class="col-lg-12">
        <h3 class="mb-4">Additional Support</h3>
        <p>If you need immediate assistance or have any questions, please don't hesitate to reach out to our dedicated team. We are here to help.</p>
        <ul class="list-group">
          <li class="list-group-item">24/7 Helpline: xxx-xxx-xxxx</li>
          <li class="list-group-item">Email: support@yourwebsite.com</li>
          <li class="list-group-item">In-person appointments available</li>
          <li class="list-group-item">Online consultation and therapy sessions</li>
        </ul>
      </div>
    </div>
  </div>
</div>