<div style="background-color: #d8e4e7;">
 


 


  <div class="container">
    <h3 class="text-center pt-5">Support and Services</h3>
    <hr>
  
    <div class="row ">
      <div class="col-lg-6">
        <h3 class="mb-4">Counseling Services</h3>
        <ul class="list-group">
          <li class="list-group-item">Individual Counseling</li>
          <li class="list-group-item">Group Therapy</li>
          <li class="list-group-item">Family Counseling</li>
          <li class="list-group-item">Marriage and Couples Counseling</li>
        </ul>
      </div>
      <div class="col-lg-6">
        <h3 class="mb-4">Workshops and Programs</h3>
        <ul class="list-group">
          <li class="list-group-item">Stress Management Workshop</li>
          <li class="list-group-item">Mindfulness Meditation Program</li>
          <li class="list-group-item">Self-Care and Wellness Retreat</li>
          <li class="list-group-item">Anger Management Program</li>
        </ul>
      </div>
    </div>
  
    <div class="row mt-5 pb-5">
      <div class="col-lg-12">
        <h3 class="mb-4">Additional Support</h3>
        <p>If you need immediate assistance or have any questions, please don't hesitate to reach out to our dedicated team. We are here to help.</p>
        <ul class="list-group">
          <li class="list-group-item">24/7 Helpline: xxx-xxx-xxxx</li>
          <li class="list-group-item">Email: support@yourwebsite.com</li>
          <li class="list-group-item">In-person appointments available</li>
          <li class="list-group-item">Online consultation and therapy sessions</li>
        </ul>
      </div>
    </div>
  </div>
</div>